/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_us_international.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak {
            display-name = "Colemak-DH";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB   &kp Q  &kp W  &kp F  &kp P       &kp B                  &kp J        &kp L  &kp U      &kp Y    &kp SEMI  &kp BSLH
&kp ESC   &kp A  &kp R  &kp S  &kp T       &kp G                  &kp M        &kp N  &kp E      &kp I    &kp O     &kp SQT
&kp LGUI  &kp Z  &kp X  &kp C  &kp D       &kp V                  &kp K        &kp H  &kp COMMA  &kp DOT  &kp FSLH  &kp RET
                        &none  &kp LSHIFT  &mt LCTRL BACKSPACE    &lt 2 SPACE  &mo 1  &none
            >;
        };

        symbols {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp EN_A_UMLAUT           &kp AT     &kp HASH        &kp DOLLAR       &kp PERCENT    &kp CARET         &kp AMPERSAND         &kp ASTERISK           &none              &kp TILDE     &kp PIPE
&none  &kp UNDERSCORE  &kp MINUS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp PLUS       &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp COLON     &kp DOUBLE_QUOTES
&none  &none           &none      &none           &kp EXCLAMATION  &none          &none             &kp GRAVE             &kp LESS_THAN          &kp GREATER_THAN   &kp QUESTION  &none
                                  &none           &trans           &trans         &none             &none                 &none
            >;
        };

        movement {
            display-name = "Movement";
            bindings = <
&none  &none  &kp N7  &kp N8  &kp N9  &none     &kp HOME  &kp PAGE_UP    &none   &kp END    &none  &none
&none  &none  &kp N4  &kp N5  &kp N6  &kp N0    &kp LEFT  &kp DOWN       &kp UP  &kp RIGHT  &none  &none
&none  &none  &kp N1  &kp N2  &kp N3  &none     &none     &kp PAGE_DOWN  &none   &none      &none  &none
                      &none   &trans  &trans    &none     &none          &none
            >;
        };
    };
};
